@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Helvetica Neue', 'Roboto', "microsoft yahei";
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
}

html, body {
  min-height: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

em, i {
  font-style: normal;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

input {
  outline: none;
  -webkit-outline: none;
}

/*公共函数*/
/*
   #fix doble screen border
   #how to use: in other class wirte @include G-border-bottom(#ccc); to extend
   #auther xiaoweili@tencent.com
*/
/*定义颜色的1px边框, 不定义颜色请使用static_class*/
/* 改造：增加一个参数，用之前方式实现1px边框的样式并且可配置两侧是否顶到头*/
/*公共函数*/
/*
   #fix doble screen border
   #how to use: in other class wirte @include G-border-bottom(#ccc); to extend
   #auther xiaoweili@tencent.com
*/
/*定义颜色的1px边框, 不定义颜色请使用static_class*/
/* 改造：增加一个参数，用之前方式实现1px边框的样式并且可配置两侧是否顶到头*/
/******图标色start******/
/******标签（运营）色start******/
/******颜色start******/
.mod-alert .content-text, .mod-alert .title-single-line .content-text, .mod-alert .short-text .content-text, .mod-alert .long-text .content-text, .mod-alert .btn-group .btn, .alert-box.hb .con {
  color: #242424;
}

.mod-alert, .mod-alert .G-ico-right {
  color: #fff;
}

.mod-alert .btn-group .btn.btn-blue, .mod-alert .btn-group .btn.btn-blue:visited {
  color: #4c9afa;
}

.mod-alert .btn-group .btn.btn-red, .mod-alert .btn-group .btn.btn-red:visited {
  color: #f44837;
}

.G-img-wrap.is-error::before {
  color: #fff;
}

.mod-alert .title-many-line input {
  background-color: #eee;
}

.mod-alert .alert-box {
  background-color: #fff;
}

.G-img-wrap, .G-border-bottom::after, .G-border-top:after, .mod-alert .btn-group:after, .mod-alert .btn-group .btn:not(:first-child):after, .mod-alert .btn-group .btn:visited:after, .G-border-right:after, .G-border-left:after, .mod-alert .btn-group.two .btn:not(:first-child):after {
  background-color: #e5e5e5;
}

.mod-alert .btn-group .btn.active {
  background-color: #f7f7f7;
}

/******背景色end******/
/******边框色start******/
.G-border-tb:before, .G-border-tl:before, .G-border-rb:before, .G-border:after, .alert-box.hb .input:after {
  border-color: #e5e5e5;
}

/******边框色end*****/
/******品牌色start******/
/******品牌色end******/
/******图标色start******/
/******图标色end******/
/******标签（运营）色start******/
.mod-alert .G-ico-right {
  background-color: #4c9afa;
}

/******标签（运营）色end******/
/*夜间*/
.G-night .mod-alert .content-text, .mod-alert .G-night .content-text, .G-night .mod-alert .btn-group .btn, .mod-alert .btn-group .G-night .btn, .G-night .alert-box.hb .con, .alert-box.hb .G-night .con {
  color: rgba(248, 248, 248, 0.4);
}

.G-night .mod-alert, .G-night .mod-alert .G-ico-right, .mod-alert .G-night .G-ico-right {
  color: rgba(255, 255, 255, 0.4);
}

.G-night .mod-alert .btn-group .btn.btn-blue, .mod-alert .btn-group .G-night .btn.btn-blue {
  color: #385f8f;
}

.G-night .mod-alert .btn-group .btn.btn-red, .mod-alert .btn-group .G-night .btn.btn-red {
  color: #8c362e;
}

.G-night .G-img-wrap.is-error::before {
  color: #929292;
}

.G-night .mod-alert .title-many-line input, .mod-alert .title-many-line .G-night input {
  background-color: #2b2b2b;
}

.G-night .mod-alert .alert-box, .mod-alert .G-night .alert-box {
  background-color: #333333;
}

.G-night .G-img-wrap, .G-night .G-border-bottom::after, .G-night .G-border-top:after, .G-night .mod-alert .btn-group:after, .mod-alert .G-night .btn-group:after, .G-night .mod-alert .btn-group .btn:not(:first-child):after, .mod-alert .btn-group .G-night .btn:not(:first-child):after, .G-night .mod-alert .btn-group .btn:visited:after, .mod-alert .btn-group .G-night .btn:visited:after, .G-night .G-border-right:after, .G-night .G-border-left:after {
  background-color: #262626;
}

.G-night .mod-alert .btn-group .btn.active, .mod-alert .btn-group .G-night .btn.active {
  background-color: #2f2f2f;
}

.G-night .G-border-tb:before, .G-night .G-border-tl:before, .G-night .G-border-rb:before, .G-night .G-border:after, .G-night .alert-box.hb .input:after, .alert-box.hb .G-night .input:after {
  border-color: rgba(255, 255, 255, 0.4);
}

.G-night .mod-alert .G-ico-right, .mod-alert .G-night .G-ico-right {
  background-color: #385f8f;
}

.G-night .mod-img--wrap {
  opacity: 0.4;
}

/*公共函数*/
/*
   #fix doble screen border
   #how to use: in other class wirte @include G-border-bottom(#ccc); to extend
   #auther xiaoweili@tencent.com
*/
/*定义颜色的1px边框, 不定义颜色请使用static_class*/
/* 改造：增加一个参数，用之前方式实现1px边框的样式并且可配置两侧是否顶到头*/
.G-landspace {
  max-width: 570px;
  margin-right: auto !important;
  margin-left: auto !important;
}

@media only screen and (min-width: 460px) and (max-width: 570px) {
  .G-landspace {
    max-width: 460px;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

@media only screen and (min-width: 0px) and (max-width: 460px) {
  .G-landspace {
    max-width: 100%;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

/*图片占位符*/
.G-img-wrap {
  position: relative;
  display: inline-block;
}

.G-img-wrap.is-error::before {
  position: absolute;
  display: block;
  font-family: 'tagIcon';
  -webkit-font-smoothing: antialiased;
  width: 100%;
  top: 45%;
  font-size: 350%;
  text-align: center;
  content: '\003A';
}

.G-img-wrap.is-error img {
  visibility: hidden;
}

.G-night .G-img-wrap {
  position: relative;
}

.G-night .G-img-wrap:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-pointer-events: none;
  pointer-events: none;
}

/*clearfix*/

.G-clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/*hide overflow text*/
.G-hide-overflow-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*不定义颜色的1px边框, 定义颜色请使用minix*/
.G-border-bottom {
  position: relative;
  border-bottom: none;
}

.G-border-bottom::after {
  content: '';
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleY(0.5);
  -webkit-transform-origin: 0 100%;
  pointer-events: none;
}

.G-border-top,
.mod-alert .btn-group,
.mod-alert .btn-group .btn:not(:first-child),
.mod-alert .btn-group .btn:visited {
  border-top: none;
  position: relative;
}

.G-border-top:after,
.mod-alert .btn-group:after,
.mod-alert .btn-group .btn:not(:first-child):after,
.mod-alert .btn-group .btn:visited:after {
  content: '';
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  pointer-events: none;
}

.G-border-right {
  border-right: none;
  position: relative;
}

.G-border-right:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  right: 0;
  top: 0;
  -webkit-transform: scaleX(0.5);
  -webkit-transform-origin: 100% 0;
  pointer-events: none;
}

.G-border-left,
.mod-alert .btn-group.two .btn:not(:first-child) {
  border-left: none;
  position: relative;
}

.G-border-left:after,
.mod-alert .btn-group.two .btn:not(:first-child):after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transform: scaleX(0.5);
  -webkit-transform-origin: 0 0;
  pointer-events: none;
}

.G-border-tb {
  position: relative;
  border-top: none;
  border-bottom: none;
}

.G-border-tb:before {
  display: block;
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  left: 0;
  top: 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  -webkit-transform: scale(0.5, 0.5);
  -webkit-transform-origin: 0 0;
  pointer-events: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.G-border-tl {
  position: relative;
  border-top: none;
  border-left: none;
}

.G-border-tl:before {
  display: block;
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  left: 0;
  top: 0;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  -webkit-transform: scale(0.5, 0.5);
  -webkit-transform-origin: 0 0;
  pointer-events: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.G-border-rb {
  position: relative;
  border-right: none;
  border-bottom: none;
}

.G-border-rb:before {
  display: block;
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  left: 0;
  top: 0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  -webkit-transform: scale(0.5, 0.5);
  -webkit-transform-origin: 0 0;
  pointer-events: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.G-border,
.alert-box.hb .input {
  border: none;
  position: relative;
  overflow: visible;
}

.G-border:after,
.alert-box.hb .input:after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  left: 0;
  top: 0;
  border-width: 1px;
  border-style: solid;
  -webkit-transform: scale(0.5, 0.5);
  -webkit-transform-origin: 0 0;
  pointer-events: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@media only screen and (-webkit-device-pixel-ratio: 1) {
  .G-border-bottom:after {
    -webkit-transform: scale(1, 1);
  }
  .G-border-top:after,
  .mod-alert .btn-group:after,
  .mod-alert .btn-group .btn:not(:first-child):after,
  .mod-alert .btn-group .btn:visited:after {
    -webkit-transform: scale(1, 1);
  }
  .G-border-left:after,
  .mod-alert .btn-group.two .btn:not(:first-child):after {
    -webkit-transform: scale(1, 1);
  }
  .G-border-right:after {
    -webkit-transform: scale(1, 1);
  }
  .G-border-tb:before,
  .G-border-tl:before,
  .G-border-rb:before {
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1, 1);
  }
  .G-border:after,
  .alert-box.hb .input:after {
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1, 1);
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) and (-webkit-max-device-pixel-ratio: 3.5) {
  .G-border-bottom:after {
    -webkit-transform: scaleY(0.33333);
  }
  .G-border-top:after,
  .mod-alert .btn-group:after,
  .mod-alert .btn-group .btn:not(:first-child):after,
  .mod-alert .btn-group .btn:visited:after {
    -webkit-transform: scaleY(0.33333);
  }
  .G-border-left:after,
  .mod-alert .btn-group.two .btn:not(:first-child):after {
    -webkit-transform: scaleX(0.33333);
  }
  .G-border-right:after {
    -webkit-transform: scaleX(0.33333);
  }
  .G-border-tb:before,
  .G-border-tl:before,
  .G-border-rb:before {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.33333, 0.33333);
  }
  .G-border:after,
  .alert-box.hb .input:after {
    width: 333%;
    height: 333%;
    -webkit-transform: scale(0.3, 0.3);
  }
}

@media only screen and (-webkit-device-pixel-ratio: 4), only screen and (-webkit-min-device-pixel-ratio: 3.6) and (-webkit-max-device-pixel-ratio: 4) {
  .G-border-bottom:after {
    -webkit-transform: scaleY(0.25);
  }
  .G-border-top:after,
  .mod-alert .btn-group:after,
  .mod-alert .btn-group .btn:not(:first-child):after,
  .mod-alert .btn-group .btn:visited:after {
    -webkit-transform: scaleY(0.25);
  }
  .G-border-left:after,
  .mod-alert .btn-group.two .btn:not(:first-child):after {
    -webkit-transform: scaleX(0.25);
  }
  .G-border-right:after {
    -webkit-transform: scaleX(0.25);
  }
  .G-border-tb:before,
  .G-border-tl:before,
  .G-border-rb:before {
    width: 400%;
    height: 400%;
    -webkit-transform: scale(0.25, 0.25);
  }
  .G-border:after,
  .alert-box.hb .input:after {
    width: 400%;
    height: 400%;
    -webkit-transform: scale(0.25, 0.25);
  }
}

/*公共函数*/
/*
   #fix doble screen border
   #how to use: in other class wirte @include G-border-bottom(#ccc); to extend
   #auther xiaoweili@tencent.com
*/
/*定义颜色的1px边框, 不定义颜色请使用static_class*/
/* 改造：增加一个参数，用之前方式实现1px边框的样式并且可配置两侧是否顶到头*/
/*
        1.5倍屏幕物理宽度大于375px小于540的手机，/2等于缩小0.75倍
        2倍屏幕物理宽度大于375px小于540的手机，/2等于缩放1倍
        3倍屏幕物理宽度大于360px小于480的手机，/2等于放大1.5倍
        3.5倍屏幕物理宽度大于410px小于600的手机，/2等于放大1.75倍
        4倍屏幕物理宽度大于540px的手机，/2等于放大2倍
    */
.mod-alert .G-ico-right {
  font-size: 11px;
  line-height: 16px;
}

.G-img-wrap, .mod-alert .title-single-line .content-text, .mod-alert .title-many-line .content-text, .mod-alert .short-text .content-text, .mod-alert .long-text .content-text, .mod-luckbox .item .tit p {
  font-size: 12px;
  line-height: 16px;
}

.mod-alert .pic .content-text, .mod-luckbox .item .btn, .mod-rule {
  font-size: 14px;
  line-height: 18px;
}

.mod-alert .title-with-img {
  font-size: 16px;
  line-height: 20px;
}

.mod-alert, .mod-alert .title-single-line .content-text p.title, .mod-alert .title-many-line .content-text p.title, .mod-alert .title-many-line input {
  font-size: 16px;
  line-height: 21.33333px;
}

.alert-box.hb .mbtn, .mod-luckbox .item .tit h3, .mod-morebtn, .mod-rule dt span {
  font-size: 18px;
  line-height: 21.33333px;
}

@media only screen and (min-width: 359px) and (-webkit-min-device-pixel-ratio: 2) {
  .mod-alert .G-ico-right {
    font-size: 11px;
    line-height: 16px;
  }
  .G-img-wrap, .mod-alert .title-single-line .content-text, .mod-alert .title-many-line .content-text, .mod-alert .short-text .content-text, .mod-alert .long-text .content-text, .mod-luckbox .item .tit p {
    font-size: 12px;
    line-height: 16px;
  }
  .mod-alert .pic .content-text, .mod-luckbox .item .btn, .mod-rule {
    font-size: 14px;
    line-height: 18px;
  }
  .mod-alert .title-with-img {
    font-size: 16px;
    line-height: 20px;
  }
  .mod-alert, .mod-alert .title-single-line .content-text p.title, .mod-alert .title-many-line .content-text p.title, .mod-alert .title-many-line input {
    font-size: 18px;
    line-height: 24px;
  }
  .alert-box.hb .mbtn, .mod-luckbox .item .tit h3, .mod-morebtn, .mod-rule dt span {
    font-size: 20px;
    line-height: 24px;
  }
}

/*公共函数*/
/*
   #fix doble screen border
   #how to use: in other class wirte @include G-border-bottom(#ccc); to extend
   #auther xiaoweili@tencent.com
*/
/*定义颜色的1px边框, 不定义颜色请使用static_class*/
/* 改造：增加一个参数，用之前方式实现1px边框的样式并且可配置两侧是否顶到头*/
/*
        #公共的padding/margin/width/height/line-height数值
        #
            l代表left,
            r代表right,
            t代表top,
            b代表bottom,
            a代表all,
            w代表width,
            h代表height
            lh代表line-height
        #    
        #480以上的数值请自理
    */
.mod-luckbox .item .btn {
  margin-left: -33.33333px;
}

.mod-alert .title-with-img .img {
  margin-left: -24.88889px;
}

.mod-alert .title-with-img .img {
  margin-right: -24.88889px;
}

.mod-alert .title-with-img .img {
  margin-top: -24.88889px;
}

.G-img-wrap.is-error::before {
  margin-top: -17.77778px;
}

.mod-alert .title-many-line input {
  margin-left: -10.66667px;
}

.mod-alert .G-ico-right {
  margin-right: 6.22222px;
}

.mod-alert .title-single-line .content-text p.title, .mod-alert .title-many-line .content-text p.title {
  margin-bottom: 7.11111px;
}

.mod-rule {
  padding-left: 14.22222px;
}

.mod-rule {
  padding-right: 14.22222px;
}

.mod-luckbox, .mod-morebtn {
  margin-left: 14.22222px;
}

.mod-luckbox, .mod-morebtn {
  margin-right: 14.22222px;
}

.mod-rule {
  margin-top: 14.22222px;
}

.mod-alert .G-ico-right {
  width: 17.77778px;
}

.mod-alert .G-ico-right {
  height: 17.77778px;
}

.mod-alert .content-text, .mod-alert .G-ico-right, .mod-alert .title-many-line .content-text, .mod-alert .long-text .content-text {
  line-height: 17.77778px;
}

.mod-alert .content-text, .mod-alert .title-single-line .content-text, .mod-alert .short-text .content-text, .mod-alert .long-text .content-text {
  padding-top: 21.33333px;
}

.mod-alert .content-text, .mod-alert .title-single-line .content-text, .mod-alert .short-text .content-text, .mod-alert .long-text .content-text {
  padding-bottom: 21.33333px;
}

.mod-alert .title-with-img .img {
  margin-bottom: 21.33333px;
}

.mod-alert .title-single-line .content-text, .mod-alert .short-text .content-text {
  line-height: 21.33333px;
}

.mod-alert .content-text, .mod-alert .title-single-line .content-text, .mod-alert .short-text .content-text, .mod-alert .long-text .content-text {
  padding-left: 24.88889px;
}

.mod-alert .content-text, .mod-alert .title-single-line .content-text, .mod-alert .short-text .content-text, .mod-alert .long-text .content-text {
  padding-right: 24.88889px;
}

.mod-alert .title-many-line input {
  height: 24.88889px;
}

.mod-luckbox .item .btn {
  height: 26.66667px;
}

.mod-luckbox .item .btn {
  line-height: 26.66667px;
}

.G-img-wrap.is-error::before {
  height: 35.55556px;
}

.G-img-wrap.is-error::before {
  line-height: 35.55556px;
}

.mod-alert .btn-group .btn, .alert-box.hb .mbtn, .mod-morebtn {
  height: 42.66667px;
}

.mod-alert .btn-group .btn, .alert-box.hb .mbtn, .mod-morebtn {
  line-height: 42.66667px;
}

.mod-luckbox .item::before {
  height: 62.66667px;
}

.mod-luckbox .item .btn {
  width: 66.66667px;
}

.mod-luckbox .item::before {
  width: 81.77778px;
}

.mod-luckbox .item {
  height: 120.88889px;
}

.mod-alert .title-many-line input {
  width: 213.33333px;
}

@media only screen and (min-width: 359px) and (-webkit-min-device-pixel-ratio: 2) {
  .mod-luckbox .item .btn {
    margin-left: -37.5px;
  }
  .mod-alert .title-with-img .img {
    margin-left: -28px;
  }
  .mod-alert .title-with-img .img {
    margin-right: -28px;
  }
  .mod-alert .title-with-img .img {
    margin-top: -28px;
  }
  .G-img-wrap.is-error::before {
    margin-top: -20px;
  }
  .mod-alert .title-many-line input {
    margin-left: -12px;
  }
  .mod-alert .G-ico-right {
    margin-right: 7px;
  }
  .mod-alert .title-single-line .content-text p.title, .mod-alert .title-many-line .content-text p.title {
    margin-bottom: 8px;
  }
  .mod-rule {
    padding-left: 16px;
  }
  .mod-rule {
    padding-right: 16px;
  }
  .mod-luckbox, .mod-morebtn {
    margin-left: 16px;
  }
  .mod-luckbox, .mod-morebtn {
    margin-right: 16px;
  }
  .mod-rule {
    margin-top: 16px;
  }
  .mod-alert .G-ico-right {
    width: 20px;
  }
  .mod-alert .G-ico-right {
    height: 20px;
  }
  .mod-alert .content-text, .mod-alert .G-ico-right, .mod-alert .title-many-line .content-text, .mod-alert .long-text .content-text {
    line-height: 20px;
  }
  .mod-alert .content-text, .mod-alert .title-single-line .content-text, .mod-alert .short-text .content-text, .mod-alert .long-text .content-text {
    padding-top: 24px;
  }
  .mod-alert .content-text, .mod-alert .title-single-line .content-text, .mod-alert .short-text .content-text, .mod-alert .long-text .content-text {
    padding-bottom: 24px;
  }
  .mod-alert .title-with-img .img {
    margin-bottom: 24px;
  }
  .mod-alert .title-single-line .content-text, .mod-alert .short-text .content-text {
    line-height: 24px;
  }
  .mod-alert .content-text, .mod-alert .title-single-line .content-text, .mod-alert .short-text .content-text, .mod-alert .long-text .content-text {
    padding-left: 28px;
  }
  .mod-alert .content-text, .mod-alert .title-single-line .content-text, .mod-alert .short-text .content-text, .mod-alert .long-text .content-text {
    padding-right: 28px;
  }
  .mod-alert .title-many-line input {
    height: 28px;
  }
  .mod-luckbox .item .btn {
    height: 30px;
  }
  .mod-luckbox .item .btn {
    line-height: 30px;
  }
  .G-img-wrap.is-error::before {
    height: 40px;
  }
  .G-img-wrap.is-error::before {
    line-height: 40px;
  }
  .mod-alert .btn-group .btn, .alert-box.hb .mbtn, .mod-morebtn {
    height: 48px;
  }
  .mod-alert .btn-group .btn, .alert-box.hb .mbtn, .mod-morebtn {
    line-height: 48px;
  }
  .mod-luckbox .item::before {
    height: 70.5px;
  }
  .mod-luckbox .item .btn {
    width: 75px;
  }
  .mod-luckbox .item::before {
    width: 92px;
  }
  .mod-luckbox .item {
    height: 136px;
  }
  .mod-alert .title-many-line input {
    width: 240px;
  }
}

@font-face {
  font-family: 'tagIcon';
  src: url("../font/icon.ttf?v=161206") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.G-ico {
  display: inline-block;
  font-family: 'tagIcon';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
}

.G-ico:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
}

.G-ico-up:before {
  content: "\0062";
}

.G-ico-collection:before {
  content: "\00C5";
}

.G-ico-share-weixin:before {
  content: "\002B";
}

.G-ico-share-friend:before {
  content: "\007C";
}

.G-ico-share-qq:before {
  content: "\007D";
}

.G-ico-share-qzone:before {
  content: "\007E";
}

.G-ico-close:before {
  content: "\0055";
}

.G-ico-right:before {
  content: "\0051";
}

.G-ico-arr-back:before {
  content: "\0045";
}

.G-ico-page-next:before, .G-ico-arr-r:before {
  content: "\0059";
}

.icon {
  display: block;
  margin: 10px auto 18px;
  background-size: cover;
}

.icon-book {
  height: 119px;
  width: 94px;
  background-image: url(../img/icon-book.png);
}

.icon-gift {
  height: 125px;
  width: 101px;
  background-image: url(http://3gimg.qq.com/mig-web/2016/QQbrowser/qb-act/161206_hb/icon-gift.png);
}

.icon-qm {
  height: 116px;
  width: 112px;
  background-image: url(http://3gimg.qq.com/mig-web/2016/QQbrowser/qb-act/161206_hb/icon-qm.png);
}

.icon-qb {
  height: 116px;
  width: 112px;
  background-image: url(http://3gimg.qq.com/mig-web/2016/QQbrowser/qb-act/161206_hb/icon-qb.png);
}

.icon-sd {
  height: 116px;
  width: 112px;
  background-image: url(http://3gimg.qq.com/mig-web/2016/QQbrowser/qb-act/161206_hb/icon-sd.png);
}

.icon-dd {
  height: 83px;
  width: 124.5px;
  background-image: url(http://3gimg.qq.com/mig-web/2016/QQbrowser/qb-act/161206_hb/icon-dd.png);
}

.mod-luckbox .icon {
  display: inline-block;
  width: 51px;
  height: 53px;
}

.mod-luckbox .icon-book {
  width: 42px;
  height: 53px;
}

.mod-luckbox .icon-gift {
  width: 45px;
  height: 56px;
}

.mod-luckbox .icon-dd {
  width: 52px;
  height: 34px;
}

@media only screen and (min-width: 320px) and (max-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
  .mod-alert .alert-box {
    max-width: 260px;
  }
}

.mod-alert {
  position: fixed;
  top: -100px;
  right: 0;
  left: 0;
  bottom: -100px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.mod-alert .alert-box {
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  overflow: hidden;
}

.mod-alert .G-ico-right {
  display: inline-block;
  -webkit-border-radius: 100%;
}

.mod-alert .title-single-line {
  text-align: center;
}

.mod-alert .pic .thumb {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 53%;
}

.mod-alert .pic .thumb img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.mod-alert .title-with-img .img {
  position: relative;
  height: 0;
  padding-top: 56.5%;
}

.mod-alert .title-with-img .img img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 4px 4px 0 0;
  width: 100%;
}

.mod-alert .title-many-line {
  text-align: center;
}

.mod-alert .title-many-line .content-text p.title {
  line-height: 1.5;
}

.mod-alert .title-many-line input {
  text-indent: 0.5em;
  border: none;
  padding: 0;
  margin: 0;
}

.mod-alert .short-text {
  text-align: center;
}

.mod-alert .short-text .btn {
  width: 100%;
}

.mod-alert .btn-group .btn {
  display: block;
  width: 100%;
  text-align: center;
}

.mod-alert .btn-group.two {
  display: -webkit-box;
}

.mod-alert .btn-group.two .btn {
  width: 1px;
  -webkit-box-flex: 1;
}

@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@-webkit-keyframes eye {
  95% {
    -webkit-transform: translate3d(0, -6px, 0);
    transform: translate3d(0, -6px, 0);
  }
  0%, 90%, 100% {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
}

@-webkit-keyframes gun1 {
  from {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  to {
    -webkit-transform: none;
    transform: none;
    visibility: visible;
  }
}

@-webkit-keyframes gun2 {
  50% {
    -webkit-transform: translate3d(6px, 6px, 0);
    transform: translate3d(6px, 6px, 0);
  }
  0%, 100% {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
}

@-webkit-keyframes gun3 {
  100% {
    -webkit-transform: translate3d(-228px, -94px, 0);
    transform: translate3d(-228px, -94px, 0);
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
}

.alert-box.hb {
  position: relative;
  padding: 23px 0;
}

.alert-box.hb .alert-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px;
  color: #6d6c6c;
  z-index: 1000;
}

.alert-box.hb .color {
  color: #fca212;
}

.alert-box.hb .con {
  font-size: 22px;
  text-align: center;
  line-height: 1.5;
}

.alert-box.hb .mbtn {
  display: block;
  margin: 0 auto;
  background: #fca212;
  color: #fff;
  text-align: center;
  border-radius: 100px;
  position: relative;
  max-width: 200px;
  width: 80%;
}

.alert-box.hb .mbtn .G-ico {
  position: absolute;
  right: 22px;
  top: 0;
  height: 100%;
}

.alert-box.hb .mbtn.is-get {
  border-radius: 0;
}

.alert-box.hb .mbtn.is-disable {
  background-color: #c9c9c9;
}

.alert-box.hb .input {
  line-height: 46px;
  text-align: center;
  font-size: 14px;
  max-width: 200px;
  width: 80%;
  margin: 29px auto 25px;
}

.alert-box.hb .input input {
  width: 100%;
  text-align: center;
  border: 0 none;
  background: none;
}

.alert-box.hb .tips {
  font-size: 12px;
  text-align: center;
  margin-top: 18px;
  color: #a0a0a0;
}

.ani.alert-box {
  -webkit-animation: alertbox 0.4s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-transform: translate(50%, -60%) scale(0.2);
}

.ani.alert-box .tit, .ani.alert-box .icon, .ani.alert-box .input {
  opacity: 0;
  -webkit-animation: opcIn linear 0.4s 0.4s;
  -webkit-animation-fill-mode: forwards;
}

.ani.alert-box .mbtn {
  opacity: 0;
  -webkit-animation: opcIn linear 0.8s 0.6s;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes alertbox {
  0% {
    -webkit-transform: translate(0%, 0%) scale(0.1);
    opacity: 0;
  }
  80% {
    -webkit-transform: translate(0%, 0%) scale(1.2);
  }
  100% {
    -webkit-transform: translate(0%, 0%) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes opcIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  background-color: #499ce1;
}

.mod-bg {
  position: relative;
  overflow: visible;
}

.mod-bg:before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 74.13333%;
  background: url(http://3gimg.qq.com/mig-web/2016/QQbrowser/qb-act/161206_hb/bg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.mod-bg .mod-man {
  position: absolute;
  top: 23.29749%;
  right: 0;
  width: 51.46667%;
  padding-top: 75.33333%;
  background-image: url(http://3gimg.qq.com/mig-web/2016/QQbrowser/qb-act/161206_hb/1.png);
  background-size: cover;
  -webkit-animation: bounceInRight .4s linear;
}

.mod-bg .mod-man .eye {
  width: 41.45078%;
  height: 26.54867%;
  background-image: url(http://3gimg.qq.com/mig-web/2016/QQbrowser/qb-act/161206_hb/2.png);
  background-size: cover;
  position: absolute;
  top: 4.60177%;
  right: 22.27979%;
  -webkit-animation: eye linear 4s infinite;
}

.mod-bg .tit {
  position: absolute;
  top: 65.5914%;
  left: 10.26667%;
  width: 80%;
  padding-top: 22.66667%;
  background-image: url(http://3gimg.qq.com/mig-web/2016/QQbrowser/qb-act/161206_hb/t1.png);
  background-size: cover;
  -webkit-animation: bounceInLeft .4s linear;
}

.mod-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-perspective-origin: 50% 50%;
  -webkit-perspective: 800px;
  -webkit-transform-style: preserve-3d;
  perspective-origin: 50% 50%;
  perspective: 800px;
  transform-style: preserve-3d;
}

.mod-banner .imgbox {
  position: absolute;
  width: 100%;
  top: 25.6%;
  left: 0;
  white-space: nowrap;
  -webkit-transform: translateX(33px) rotateY(36deg) skewY(-11deg);
  transform: translateX(33px) rotateY(36deg) skewY(-11deg);
  -webkit-transform-origin: left;
  transform-origin: left;
}

.mod-banner .imgbox .img {
  width: 66%;
  margin-right: 20%;
  display: inline-block;
  position: relative;
}

.mod-banner .imgbox .img::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 100%;
  box-shadow: 0 23px 18px #000;
}

.mod-banner .imgbox .img:first-child {
  -webkit-transform: scale(1.15, 1.15);
  transform: scale(1.15, 1.15);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.mod-banner .imgbox .img img {
  display: block;
  width: 100%;
}

.mod-luckbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.mod-luckbox .item {
  width: 30%;
  -webkit-box-flex: 1;
  flex: auto;
  text-align: center;
  position: relative;
  background-color: #415ddf;
  margin-bottom: 6px;
}

.mod-luckbox .item:nth-child(3n+2) {
  margin-left: 6px;
  margin-right: 6px;
}

.mod-luckbox .item:last-child {
  margin-bottom: 0;
}

.mod-luckbox .item::before {
  content: '';
  background-image: url(../img/3.png);
  background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
}

.mod-luckbox .item .tit {
  position: absolute;
  width: 100%;
  top: 9px;
  padding-top: 10px;
  color: #fff;
}

.mod-luckbox .item .tit p {
  margin-top: 4px;
}

.mod-luckbox .item .btn {
  border-radius: 100px;
  background-color: #304cca;
  position: absolute;
  bottom: 17px;
  left: 50%;
  color: #6781f8;
}

.mod-luckbox .item.is-gift {
  background-color: #f18500;
}

.mod-luckbox .item.is-gift .btn {
  background-color: #fff;
  color: #f18500;
}

.mod-luckbox .item.is-gift::before {
  background-image: url(../img/4.png);
}

.mod-luckbox .item.is-get {
  background-color: #fff5e3;
  position: relative;
}

.mod-luckbox .item.is-get .tit {
  color: #373737;
  padding-top: 0;
}

.mod-luckbox .item.is-get .tit p {
  margin-top: 0;
  position: absolute;
  width: 100%;
  left: 0;
  top: 53px;
}

.mod-luckbox .item.is-get .tit .icon {
  margin-top: 0px;
}

.mod-luckbox .item.is-get .tit .icon-dd {
  margin-top: 11px;
}

.mod-luckbox .item.is-get .tit .icon-book {
  margin-top: -1px;
}

.mod-luckbox .item.is-get .btn {
  background-color: #fca212;
  color: #fff;
}

.mod-luckbox .item.is-get .btn.is-disable {
  background-color: #c9c9c9;
}

.mod-luckbox .item.is-get::before {
  display: none;
}

.mod-morebtn {
  display: block;
  margin-top: 15px;
  background: #415ddf;
  color: #fff;
  text-align: center;
  border-radius: 100px;
  position: relative;
}

.mod-morebtn .G-ico {
  position: absolute;
  right: 22px;
  top: 0;
  height: 100%;
}

.mod-rule {
  color: #fff;
  padding-bottom: 50px;
  line-height: 1.5;
  position: relative;
  overflow: hidden;
}

.mod-rule dt {
  text-align: center;
  line-height: 3;
}

.mod-rule dt::before, .mod-rule dt::after {
  content: '';
  width: 17px;
  height: 2px;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  margin: 0 .3em;
}

.mod-rule dt span {
  display: inline-block;
  vertical-align: middle;
}

.mod-rule dd {
  padding-left: 1.5em;
  position: relative;
  margin-bottom: .8em;
}

.mod-rule dd em {
  position: absolute;
  top: 0;
  left: 0;
}

.mod-rule .gun {
  position: absolute;
  right: -28px;
  bottom: -50px;
  width: 44.75219%;
  padding-top: 38.48397%;
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  visibility: hidden;
}

.mod-rule .gun::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: url(http://3gimg.qq.com/mig-web/2016/QQbrowser/qb-act/161206_hb/5.png);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.mod-rule .gun::before {
  content: '';
  width: 13.02932%;
  padding-top: 8.46906%;
  background-image: url(../img/6.png);
  background-size: cover;
  position: absolute;
  top: -5.30303%;
  left: -16.28664%;
  opacity: 0;
}

.mod-rule .gun.ani {
  -webkit-animation: gun1 linear 0.8s 0.5s;
  -webkit-animation-fill-mode: forwards;
}

.mod-rule .gun.ani::after {
  -webkit-animation: gun2 linear 0.2s 1.6s;
}

.mod-rule .gun.ani::before {
  -webkit-animation: gun3 ease-in-out 0.3s 1.75s;
  -webkit-animation-fill-mode: forwards;
}

.alert-box-hg {
  z-index: 1000;
  background-color: #f7f7f7;
  margin:0 auto;
  width: 80%;
  max-width: 300px;
  -webkit-border-radius: 4px;
}